.menu:hover .menuA {
    animation: cart ease-in-out 0.3s;
    display: block;
    
}
.menu-a{
    display: none;
}
.menuA:hover {
    color: black;
}

@keyframes cart {
    from{
        left: 0;
    }
    to {
        left: 25%;
    }
    
}