.activeMenu {
    background-color: #f7b035;
    color: aliceblue;
    
}
.menuCart:hover .cartButton {
 display: block;
animation: cartDetail ease-in-out 0.3s;
}

@keyframes cartDetail {
    from {
        left: -114px
    }
    to {
        left: 1px;
    }
}
.abc:hover {
    box-shadow:  0 25px 50px -12px rgb(243, 170, 75);
}

 .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
  }
