.nav:hover .navUl  {
    display: block;

}
.navUl {
    animation: Fade ease-in-out 0.5s;
}
 @keyframes Fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
 }

 .hide {
    display: none;
 }